.maintainanceLog {
  display: flex;
}

.maintainanceLog_chart {
  /* margin: 0, 20px; */
  padding: 20px;
}

.maintainanceLog_table {
  margin: 0, 20px;
  padding: 20px;
}

.maintainanceLog_btn {
  display: flex;
}
