.speedlog {
  display: flex;
  align-items: initial;
}

.speedlog_widget {
  /* display: flex;
  flex: 50%;
  margin-left: 0;
  padding: 0; */
}

.speedlog_table {
  padding: 20px;
}

.speedlog_btn {
  display: flex;
}
